@charset "UTF-8";
/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/
body {
    background-color: #92F5B4;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #79CA96;
}
h1#principal {
    text-align: center;       
    background-color: #79CA96;
    color: white;
}
h2 {
    color: #65A87D;
}
.basico {
    color: #65A87D;
}
.intermediario {
    color: #a8a765;
}
.avançado {
    color: #a86565;
}
.destaque {
    background-color: #9797004d;
}
