@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #D9AC84,#A6806A);
}
main {
    background-color:white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(100, 78, 65, 0.61);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color:#A68B03;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(107, 90, 2, 0.733);
}
h2 {
    color: #023059;
}
p {
    text-align: justify;
}
